<div class="myavatar">
    <div class="ui grid">
        <div class="four wide column">
            <img src="/img/<%= user.avatar %>">
            <div class="ui animated fade button" tabindex="0">
                <div class="visible content">Follow</div>
                <div class="hidden content"><i class="child icon"></i></div>
            </div>
        </div>
        <div class="eight wide column"></div>
    </div>
</div>