<%- include('header') %>

<div class="a post-content">
<%- include('components/post-content', {favouritePostsId: favouritePostsId}) %>
<%- include('components/comments') %>
</div>

<%- include('footer') %>